.activities-card {
  min-height: 20rem;
}

.activity-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.activities-table {
  width: 100%;
  margin-top: 1rem;
}

.edit-field {
  width: 100%;
  margin: -0.5rem 0;
}